---
import Apple from "../assets/icons/Apple_logo_black.svg";

interface Props {
	iconSize: number;
}

const { iconSize } = Astro.props;
const link = "https://placeholder-for-apple-music.com";
---

<div class="flex items-center justify-center" style={`width: ${iconSize}px; height: ${iconSize}px;`}>
	<a href={link} target="_blank" rel="noopener noreferrer">
		<Apple width={iconSize} height={iconSize} stroke="white" fill="white" class="relative" >
	</a>
</div>
